/.AbstractDataParsingTest.java._trace
/.AbstractDataParsingTest.xtendbin
/.JGEntityParsingTest.java._trace
/.UafProcessorTest.java._trace
/.UafProcessorTest.xtendbin
/.WorksetTest.java._trace
/.WorksetTest.xtendbin
/AbstractDataParsingTest.java
/UafProcessorTest.java
/WorksetTest.java
/.SolvingTrueProblemTest.java._trace
/.GenerateCreateStatementTest.java._trace
/.GenerateDeleteStatementTest.java._trace
/.GenerateReadStatementTest.java._trace
/.GenerateReadEachStatementTest.java._trace
