/.ArtifactsGenerator.java._trace
/.DMWDataModelArtifactsGenerator.java._trace
/.DMWDataModelArtifactsGenerator.xtendbin
/.DMWEclipseInfrastuctureGenerator.java._trace
/.DMWEclipseInfrastuctureGenerator.xtendbin
/.DMWWidgetArtifactsGenerator.java._trace
/.DMWWidgetArtifactsGenerator.xtendbin
/.DataModelArtifactsGenerator.java._trace
/.ExportDataModelFragment.java._trace
/.SelfExtractingInfrastuctureGenerator.java._trace
/.UploadDataModelFragment.java._trace
/.UploadDataModelFragment.xtendbin
/.WidgetArtifactsGenerator.java._trace
/DMWDataModelArtifactsGenerator.java
/DMWEclipseInfrastuctureGenerator.java
/DMWWidgetArtifactsGenerator.java
/UploadDataModelFragment.java
/.DMWTechnicalDesignGenerator.java._trace
